.pagination .nav-links {
	@apply inline-flex items-center gap-x-1.5;
}

.pagination .page-numbers {
	@apply min-md:min-w-10 h-10 rounded inline-flex items-center justify-center p-2 min-md:px-3 text-xs md:text-sm font-medium capitalize no-underline border border-gray-950/5 dark:border-white/10 bg-transparent hover:bg-gray-100 dark:hover:bg-white/10;
}

.pagination .current {
	@apply border-sky-400 hover:border-sky-400;
}

.pagination .dots {
	@apply bg-transparent hover:bg-transparent
}

.cfu-footer .menu {
	@apply space-y-5 leading-6;
}

.cfu-footer .menu a,
.cfu-footer-menu a {
	@apply hover:underline;
}

.cfu-footer-menu li {
	@apply border-e border-gray-950/5 dark:border-white/10 pe-2 last:pe-0;
}

.cfu-sidebar ul li {
	@apply flex flex-col gap-y-2 border-b border-gray-950/5 dark:border-white/10 mt-4 first:mt-1.5 pb-3 last:pb-0 last:border-none;
}

.cfu-sidebar .post-date {
	@apply text-xs text-gray-500 capitalize;
}

.cfu-sidebar li a {
	@apply font-semibold text-sm leading-5;
}

/* Utilities Class */
.wp-post-image {
	@apply relative overflow-hidden after:content-[""] after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-gray-950/5 dark:after:bg-white/10 after:rounded-md after:animate-pulse after:duration-300 object-cover aspect-video w-full h-full rounded;
}

.container-center {
	@apply mx-auto px-3;
}

.full-content {
	@apply flex flex-col flex-1 w-full min-w-0;
}

.flexCenter {
	@apply flex justify-center items-center;
}

time {
	@apply capitalize;
}

.search-form {
	@apply flex items-center gap-2;
}

.search-form > label {
	@apply grow;
}

.search-field {
	@apply placeholder:text-gray-500 text-gray-950/50 dark:text-white/50 dark:bg-white/5 inset-ring inset-ring-gray-950/8 dark:inset-ring-white/15 focus-visible:outline-none rounded-full w-full px-4 py-1.5;
}

.cfu-btn,
.search-submit {
	@apply cursor-pointer inline-block rounded-4xl text-sm font-semibold text-white bg-black dark:bg-gray-700 hover:bg-gray-800 dark:hover:bg-gray-600 px-4 min-sm:px-10 py-2;
}

.menu {
	@apply text-sm text-gray-950 dark:text-white;
}

.cfu-title,
.page-title,
.entry-title,
.article-badge,
.article-title,
.cfu-widget-title,
.cfu-section-title {
	@apply text-gray-950 dark:text-white;
}

.page-title,
.entry-title {
	@apply font-extrabold text-3xl;
}

.title-with-underline, .cfu-widget-title-underline {
	@apply border-b-2 border-gray-950/5 dark:border-white/10 relative after:absolute after:content-[""] after:left-0 after:-bottom-0.5 after:w-16 after:h-0.5 after:bg-radial-crypto pb-3;
}

.cfu-section-title {
	@apply font-bold text-lg sm:text-xl md:text-[22px] capitalize;
}

.article-title, .cfu-sidebar li a {
	@apply no-underline hover:text-sky-400;
}

.article-excerpt {
	@apply text-gray-600 dark:text-gray-400;
}

.article-badge {
	@apply bg-gray-950/5 dark:bg-white/10 ring-1 ring-gray-500/10 ring-inset font-medium rounded-full py-1;
}

.article-primary_category, .article-badge, .entry-footer a:not(.post-edit-link) {
	@apply inline-flex items-center justify-center capitalize no-underline px-2;
}

.article-primary_category, .entry-footer a:not(.post-edit-link) {
	@apply bg-radial-crypto text-gray-950 py-0.5 rounded-xs font-bold;
}

.float-primary_category, .float-primary_category-top {
	@apply absolute left-2  text-black py-1 px-2 text-xs rounded-sm font-bold uppercase z-10;
}

.float-primary_category {
	@apply bottom-2 top-auto;
}

.float-primary_category-top {
	@apply top-2 bottom-auto;
}

.entry-footer a:not(.post-edit-link) {
	@apply py-1 px-2.5 uppercase;
}

.entry-footer a:not(.post-edit-link) {
	@apply before:content-['#'] before:pe-[1px];
}

.cfu_sidebar-widget > :not(.cfu-widget-title) {
	@apply p-3;
}

.cfu_sidebar-widget > a {
	@apply inline-flex items-center justify-center min-lg:w-full;
}

.cfu_sidebar-widget img {
	@apply rounded-md flex-1;
}

.cfu-banner img {
	@apply m-0;
}

.cfu-banner a {
	@apply border-2 rounded-lg overflow-hidden;
}

.cfu_sidebar-widget.cfu-banner a {
	@apply p-1.5;
}

.facebook-bg, .facebook a {
  background: linear-gradient(227.96deg, #3b5998 11.38%, #2b4170 84.07%);
}

.twitter-bg, .twitter a, .black-bg {
  background: linear-gradient(227.96deg, #000000 11.38%, #121212 84.07%);
}

.reddit-bg, .reddit a {
  background: linear-gradient(262.85deg, #f45c9f 5.57%, #ff7563 73.65%);
}

.linkedin-bg, .linkedin a {
  background: linear-gradient(227.96deg, #0077b5 11.38%, #00a0dc 84.07%);
}

.telegram-bg, .telegram a {
  background: linear-gradient(#36aee0, #1c96d1);
}

.rss-bg, .rss a {
  background: #f48225;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

.cfu-social {
	@apply flex flex-wrap items-center gap-2;
}

.cfu-social .cfu-social-icon {
	@apply text-white opacity-100 hover:opacity-85 hover:bg-current;
}

.cfu-log-bottom {
	@apply block w-40 lg:w-44 h-auto no-underline;
}

.cfu-text-sm {
	@apply text-sm leading-6;
}

.cfu-social-icon {
	@apply flex items-center justify-center size-8 rounded-full bg-white/60 hover:bg-white dark:bg-white/10 dark:hover:bg-gray-700 dark:text-white text-gray-950 ring inset-ring ring-gray-950/10 inset-ring-white/10 dark:ring-transparent p-1;
}

.shares-list__item {
	@apply shrink-0 w-10 max-w-10 h-10 max-h-10 rounded;
}

.prose .cfu-points {
	@apply bg-gray-50 dark:bg-white/5 text-gray-950 inset-ring inset-ring-gray-950/5 dark:inset-ring-white/5  dark:text-white font-semibold rounded-md shadow-xs ps-9 pe-2.5 md:pe-3.5 py-3 mb-8;
}

.prose .cfu-points li {
	@apply px-0 mt-0 mb-2 last:mb-0;
}

.prose .cfu-points li::marker {
  @apply text-cfu;
}

.cfu-bar-icon {
	@apply before:transition-all before:duration-700 before:ease-[cubic-bezier(0.77,0,0.175,1)] before:content-[""] before:absolute before:left-0 before:top-[9px] before:w-7 before:h-0.5 before:bg-gray-500 dark:before:bg-gray-400 transition-all duration-700 ease-[cubic-bezier(0.77,0,0.175,1)] absolute left-0 w-7 h-0.5 bg-gray-500 dark:bg-gray-400 after:content-[""] after:absolute after:left-0 after:top-[-9px] after:w-7 after:h-0.5 after:bg-gray-500 dark:after:bg-gray-400 after:transition-all after:duration-700 after:ease-[cubic-bezier(0.77,0,0.175,1)];
}

.open .cfu-bar-icon {
	@apply bg-transparent before:top-0 before:bg-gray-800 dark:before:bg-white before:rotate-[-225deg] after:top-0 after:bg-gray-800 dark:after:bg-white after:rotate-[225deg];
}

.cfu-mb-4 {
	@apply mb-4;
}

.cfu-mb-6 {
	@apply mb-6;
}

.cfu-font-medium {
	@apply font-medium;
}

.cfu-btn-more {
	@apply inline-flex items-center gap-x-1 no-underline whitespace-nowrap text-sm font-semibold text-sky-500 hover:text-sky-600 dark:text-sky-400 capitalize;
}

.penci-feed {
	@apply before:content-[""] before:inline-block before:absolute before:w-[9px] before:h-[9px] before:left-[-25px] before:top-0 before:rounded-full before:bg-gray-de dark:before:bg-gray-700 before:transition-all before:duration-300 relative after:content-[""] after:inline-block after:absolute after:w-[9px] after:h-[9px] after:left-[-25px] after:top-0 after:rounded-full after:bg-cfu-0 dark:after:bg-cfu after:transition-all after:duration-300;
}

.cky-consent-container .cky-btn {
	@apply rounded;
}

.cky-consent-container.cky-box-bottom-right {
	@apply max-sm:w-full max-sm:left-1/2  max-sm:-translate-x-1/2;
}

.cky-consent-container .cky-consent-bar .cky-banner-btn-close{
	@apply top-3 right-3;
}

.sub-title {
	background: linear-gradient(135deg, #00ff9d, #00d4ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-shadow: 0 0 30px rgba(0, 255, 157, 0.3);
}

.wp-block-image a {
	@apply border-2 hover:border-cfu-0 rounded-xl overflow-hidden;
}

.wp-block-image a img {
	@apply my-0;
}

.wp-block-image figcaption,
.wp-block-image figcaption a,
.wp-block-media-text__media a{
	@apply border-none mt-1.5;
}

.wp-block-image figcaption a,
.wp-block-media-text__media a {
	@apply inline;
}

.penci-feed:after {
	animation: pencisonar 1.5s ease infinite;
}

@keyframes pencisonar {
	0% {
		opacity: 0;
    transform: scale(.2);
	}
	50% {
		opacity: 0.9;
	}
	100% {
		opacity: 0;
    transform: scale(1);
	}
} 
